{% macro header(email, theme) %}
<header class="header">
    <div class="nav-container">
        <a href="{{ url_for('pages.index') }}" class="header-logo">
            <span class="logo-name">Watchlist</span>
        </a>
        <nav class="nav">
            {% if not email %}
                <a href="#" class="nav__link">
                <span class="nav-item">Log in</span>
                </a>
                <a href="#" class="nav__link">
                <span class="nav-item">Register</span>
                </a>

            {% else %}
                 <a href="{{ url_for('pages.index') }}" class="nav__link {{ 'nav__link-active' if request.path == url_for('pages.index') }}">
                <span class="nav-item">Movies</span>
                </a>
                <a href="#" class="nav__link">
                <span class="nav-item">Log out</span>
                </a>

            {% endif %}
        </nav>
    </div>
</header>
{% endmacro %}

